<h1>Створити новий товар</h1>

	<%= form_for @item do |f| %>

	<p> Ім'я: <br/><%= f.text_field :name %></p>
	<p> Ціна: <br/><%= f.text_field :price %></p>
	<p> Опис: <br/><%= f.text_field :description %></p>
	<p> Вага: <br/><%= f.text_field :weight %></p>

<p><%= f.submit "Створити товар" %></p>

<% end %>